@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-size: 48px;
    width: 266px;
    height: 69px;
    margin-top: 38px;
    margin-bottom: 0px;
}

.birth-info {
    font-size: 14px;
    margin: 0px;
}

.description {
    font-size: 14px;
    margin: 0px;
    margin-bottom: 12px;
    margin-right: 187px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 15px;
    margin-top: 46px;
}

.list {
    font-size: 14px;
}

.position {
    color: #FF3232;
}

.aside {
    width: 310px;
    height: 656px;
    background-color: #1A142D;
    color: #fff;
    padding-left: 18px;
    padding-top: 18px;
    padding-right: 19px;
    box-sizing: border-box;
    text-align: center;
    margin-right: 67px;
}

.photo {
    width: 100%;
    border: 1px solid #FFFFFF;
}

.main {
    min-width: 467px;

}

.container {
    display: flex;
    width: 1024px;
    padding-left: 57px;
    padding-top: 64px;
    margin-bottom: 87px;
}

.about {
    margin-bottom: 30px;
}

.socials {
    padding-top: 25px;
}

.social-icon {
    text-decoration: none;  
}

.social-icon:hover {
    position: relative;
    bottom: 5px;
}

.gallery {
    width: 890px;
    padding-left: 67px;
    display: flex;
    justify-content: space-around;
    
}

.gallery-item {
    position: relative;
    width: 206px;
}

.gallery-label {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #1A142D;
    color: #fff;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    margin: 0px;
}

.gallery-item:hover .gallery-label {
    display: block;
}